.root > .main {
  padding: 0 20px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  .roundedButton {
    height: 48px;
    min-width: 128px;

    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 24px;

    cursor: pointer;
  }

  h1 {
    margin-bottom: 32px;
  }

  div.slideshow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .mobile & {
      flex-flow: column nowrap;
    }
  }
}
